*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(59, 56, 56);
    /* background-color: blue; */
}
.nav-part2{
    display: flex;
    justify-content: center;
    /* background-color: white; */
    align-items: center;
    padding: 0 4vw;
    gap:40px
}
.nav h2{
    font-size: 2.2vw;
}
.nav-part2 h4{
    font-size: 1.4vw;
}
.nav-part2 button{
    border: none;
    font-size: 1.2vw;
    /* background-color: aqua; */
    padding: 0.5vw 2vw;
    border-radius: 3px;
    font-weight: 900;
    background-color: #455A64;
    color: white;
}
.nav-part2 i{
    font-size: 1.5vw;
    display: none;
}
.content{
    display: flex;
    width: 100%;
    height:calc(100% - 60px);
    border-bottom: 1px solid rgb(58, 54, 54);
    /* background-color: aquamarine; */
}
.left{
    /* background-color: red; */
    width: 55%;
    height: 100%;
    padding: 7vw 5vw;
}
.left p{
    font-size: 1.5vw;
    width: 80%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.left button{
    border: none;
    border-radius: 3px;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 0.5vw 2vw;
    background-color: #BA68C8;
    color: black;
}
.left h1{
    font-size: 3vw;
}
.left span{
    color: #BA68C8;
}
.right{
    /* background-color: blue; */
    width: 45%;
    height: 100%;
}
.right img{
    height: 100%;
    width: 100%;
}
.aboutus{
    display: flex;
    width: 100%;
    height: 90%;
    border-bottom: 1px solid rgb(58, 54, 54);
    /* background-color: aqua; */
}
.about-content{
    width: 55%;
    height: 100%;
    padding: 5vw 5vw;
}
.about-content h1{
    font-size: 2.7vw;
}
.about-content p{
    width: 75%;
    font-size: 1.5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.about-content button{
    border: none;
    font-size: 1.2vw;
    font-weight: 800;
    padding: 0.7vw 1.5vw;
    background-color: #FF725E;
    border-radius: 3px;
}
.about-image{
    /* background-color: #FF725E; */
    width: 45%;
    height: 100%;
}
.about-image img{
    width: 100%;
    height: 100%;
}
.ourproducts{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(58, 54, 54);
    /* background-color: aquamarine; */
    /* background-color: #FF725E; */
}
.ourproducts h1{
    text-align: center;
    margin-top: 20px;
}
.cards{
    /* background-color: aquamarine; */
    position: absolute;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    /* background-color: #FF725E; */
}
.card{
    position: relative;
    border-radius: 5px;
    /* background-color: #BA68C8; */
    height: 440px;
    width: 230px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.cardname{
    margin-top: 10px;
    text-align: center;
}
.cardimage{
    margin-top: 15px;
    height: 50%;
    width: 100%;
}
.cardimage img{
    width: 100%;
    height: 100%;
}
.desc{
    margin-top: 15px;
}
.desc p{
    margin-left: 15px;
    margin-right: 10px;
}
.desc button{
    outline: none;
    border: none;
    background-color: aquamarine;
    font-weight: bold;
    font-size: 2.8vh;
    border-radius: 3px;
    padding: 5px 15px;
    margin-top: 20px;
    margin-left: 30%;
}
.footer{
    /* position: relative; */
    /* top:1700px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 40%;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

@media only screen and (max-width: 800px) {
    .main{
        height: 120%;
        background-color: aqua;
    }
    .nav{
        /* background-color: aquamarine; */
        padding: 0 5vw;
        width: 100%;
    }
    .nav h2{
        font-size: 5vw;
    }
    .nav-part2 h4{
        display: none;
    }
    .nav-part2 i{
        display: block;
        font-size: 5vw;
        font-weight: bolder;
    }
    .nav-part2 button{
        border: none;
        font-size: 4vw;
        padding: 1.5vw 4vw;
        border-radius: 3px;
        font-weight: 900;
    }
    .content{
        margin-top: 50px;
        width: 100%;
        flex-direction: column;
    }
    .left{
        width: 100%;
        padding: 8vw 12vw;
    }
    .left h1{
        font-size: 8vw;
    }
    .left p{
        font-size: 5vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .left button{
        font-size: 4vw;
        padding: 2vw 4vw;
    }
    .right{
        width: 100%;;
    }
    .aboutus{
        margin-top: 20px;
        padding: 5vw 5vw;
        flex-direction: column;
    }
    .about-content{
        width: 100%;
    }
    .about-content h1{
        font-size: 7.5vw;
    }
    .about-content p{
        font-size: 5vw;
    }
    .about-content button{
        font-size: 4vw;
        padding: 2vw 4vw;
    }
    .about-image{
        width: 100%;
    }
    .ourproducts{
        /* height: 4000px; */
        height: 390%;
        /* background-color: #b1e80c; */
    }
    .cards{
        height: 360%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        align-items: center;
    }
    .card{
        height: 570px;
        width: 320px;
        /* height: 66vh;
        width: 70vw; */
    }
    .cardimage{
        /* height: 30%; */
        margin-top: 10px;
    }
    .cardname{
        font-size: 2.5vh;
    }
    .desc p{
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-style: normal;
        line-height: 26px;
        margin-top: 20px;
        font-size: 2vh;
    }
    .desc button{
        margin-top: 20px;
        font-size: 1.9vh;
        padding: 8px 30px;
    }
    .footer{
        /* margin-top: 72px; */
        height: 70vh;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 2.5vh;
        flex-direction: column;
    }
    .footer > * {
        margin-left: 70px;
        margin-top: 20px;
    } 
    .address p{
        line-height: 32px;
    }
    .footer .title{
        margin-top: 35px;
    }
    /* .ourproducts{
        width: 100%;
        height: 285%;
        background-color: #BA68C8; 
     } 
    .cards{
        gap: 30px;
        justify-content:flex-start;
        flex-direction: column;
    }
    .card{
        height: 580px;
        width: 80%;
        margin-left: 45px;
        margin-right: 20px; 
    }
    .cardname{
        font-size: 2.5vh;
    }
    .desc p{
        font-size: 2.5vh;
    }
    .desc button{
        margin-top: 28px;
    }  */
    /* .footer{
        width: 100%;
        height: 50%;
        margin-top: 5px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: self-start;
        gap: 20px;
        font-size: 2.5vh;
    }
    .title{
        margin-top: 50px;
        margin-left: 50px;
    }
    .contact{
        margin-left: 50px;
    }
    .address{
        margin-left: 50px;
    }
    #c{
        margin-left: 50px;
    } */
}
